<div class="container">
  <form class="example-container"  #NewCitizenRequest="ngForm" id="registerCitizenForm">
    <h1>Verify a Voter</h1>
    <div class="form-group">
      <label for="verifyVoterRequest">Hash Key</label>
      <input type="text" class="form-control" id="hashKey" [(ngModel)]="verifyVoterRequest.hashKey" name="hashKey" placeholder="CITIZEN1?"> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="verifyVoterRequest">Hash</label>
      <input type="text" class="form-control" id="hash" [(ngModel)]="verifyVoterRequest.hash" name="hash" placeholder="451554sfg34g"> <i class="bar"></i>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" (click)="verifyArtifact()"><span>Verify Artifact Hash</span></button>
  </div>
</div>
