
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" (click)="update()"> Node Dashboard {{instantiationCase}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <button mat-button [matMenuTriggerFor]="votingadmin">Voting Administration</button>

      <mat-menu #votingadmin="matMenu">
        <button *ngIf="this.instantiationCase == 'External Service Provider (Envelope/Voting Card Producer)'" mat-menu-item (click)="launchERVerification()"> Verify Voter Data </button>
        <button *ngIf="this.instantiationCase == 'Swiss Post'" mat-menu-item (click)="launchArtifactVerification()"> Verify Artifact </button>
      </mat-menu>

      <!-- <button mat-button [matMenuTriggerFor]="requestsadmin" *ngIf="this.transitRequests"> Requests Administration</button>

      <mat-menu #requestsadmin="matMenu">
        <button mat-menu-item (click)="launchERCreation()"> Citizen Relocation Requests </button>
      </mat-menu> -->

    </ul>
  </div>
</nav>


<div class="" style="margin-top: 70px;">

  <div class="row">
    <div class="col-6">
      <h1 class="private-top-bar">Private Data</h1>
      <p>Voters</p>
      <mat-accordion *ngIf="voters">
        <mat-expansion-panel *ngFor="let voter of voters">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Voterkey: {{voter.key}}
            </mat-panel-title>
            <mat-panel-description>
              Expand for Voter Details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- only showing some essential stuff for demo purposes. data model is actually more expansive -->
          <div class="citizen-info" >
            <span> Insurnance Number: {{ voter.vn }}</span>
          </div>
          <div class="citizen-info" >
            <span> Family Name: {{ voter.officialName}}</span>
          </div>
          <div class="citizen-info" >
            <span> Name: {{ voter.firstName}}</span>
          </div>
          <div class="citizen-info" >
            <span> Birthdate: {{ voter.dateOfBirth}}</span>
          </div>
          <div class="citizen-info" >
            <span> Language of Correspondence: {{ voter.languageOfCorrespondance }}</span>
          </div>
          <div class="citizen-info" >
            <span> Reporting Municipality: {{ voter.reportingMunicipality }}</span>
          </div>
          <div class="citizen-info" >
            <span> City: {{ voter.city }}</span>
          </div>
          <div class="citizen-info" >
            <span> Type of Residence: {{ voter.typeOfResidenceType }}</span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <p>Voter List</p>
      <mat-accordion *ngIf="voterList">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Voterlistkey: {{voterList.key}}
            </mat-panel-title>
            <mat-panel-description>
              Expand for Voter List Details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- only showing some essential stuff for demo purposes. data model is actually more expansive -->
          <div class="citizen-info" >
            <span> Number of Voters: {{ voterList.numberOfVoters }}</span>
          </div>
          <div class="citizen-info" >
            <span> Reporting Municipality: {{ voterList.reportingMunicipality}}</span>
          </div>
          <div class="citizen-info" *ngFor="let voterinlist of voterList.voter">
            <span> Voterkey: {{ voterinlist.key }}</span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <p>Transit List</p>
      <mat-accordion >
        <mat-expansion-panel *ngFor="let transit of transitRequests">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Voterlistkey: {{transit.citizenKey}}
            </mat-panel-title>
            <mat-panel-description>
              Expand for Voter List Details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- only showing some essential stuff for demo purposes. data model is actually more expansive -->
          <div class="citizen-info" >
            <span> Number of Voters: {{ transit.vn }}</span>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="col-6">
      <h1 class="public-top-bar">Public Data</h1>
      <p>Hashes</p>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let hash of hashes">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Hashkey: {{hash.key}}
            </mat-panel-title>
            <mat-panel-description>
              Expand for Details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- only showing some essential stuff for demo purposes. data model is actually more expansive -->
          <div class="hash-info" >
            <span> Reporting Municipality: {{ hash.reportingMunicipality }}</span>
          </div>
          <div class="hash-info" >
            <span> Content Type: {{ hash.contentType}}</span>
          </div>
          <div class="hash-info" >
            <span> Timestamp: {{ hash.timestamp}}</span>
          </div>
          <div class="hash-info" >
            <span> Content Hash: {{ hash.contentHash}}</span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>

</div>
