<div class="container">
  <h1>Citizen Relocation Requests</h1>

  <mat-form-field>
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="accepting" multiple>
      <mat-option *ngFor="let citizen of incomingRequests" [value]="topping">{{citizen.citizenKey}}</mat-option>
    </mat-select>
  </mat-form-field>

  <p>You selected index: {{accepting}}</p>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let citizen of incomingRequests">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Citizenkey: {{citizen.key}}
        </mat-panel-title>
        <mat-panel-description>
          Expand for Citizen Details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- only showing some essential stuff for demo purposes. data model is actually more expansive -->
      <div class="citizen-info" >
        <span> Insurnance Number: {{ citizen.vn }}</span>
      </div>
      <div class="citizen-info" >
        <span> Family Name: {{ citizen.officialName}}</span>
      </div>
      <div class="citizen-info" >
        <span> Name: {{ citizen.firstName}}</span>
      </div>
      <div class="citizen-info" >
        <span> Geburtsdatum: {{ citizen.dateOfBirth}}</span>
      </div>
      <div class="citizen-info" >
        <span> Nationality: {{ citizen.nationality }}</span>
      </div>
      <div class="citizen-info" >
        <span> Street: {{ citizen.street }}</span>
      </div>
      <div class="citizen-info" >
        <span> City: {{ citizen.city }}</span>
      </div>
      <div class="citizen-info" >
        <span> Type of Residence: {{ citizen.typeOfResidenceType }}</span>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="button-container">
    <button type="button" class="button" value="Register Citizen" (click)="moveCitizen()"><span>Accept Citizen Relocation Requests</span></button>
  </div>
</div>
