
<div class="content">
    <div class="">
      <a class="bund" (click)="launchDashboard(8000)">
        <img src="../../assets/bund.gif" alt="">
      </a>
    </div>

    <div class="">
      <a class="zürich" (click)="launchDashboard(8010)">
        <img src="../../assets/zürich.gif" alt="">
      </a>

      <a class="zug" (click)="launchDashboard(8020)">
        <img src="../../assets/ch-zg.gif" alt="">
      </a>
    </div>

    <div class="">
      <a class="wallisellen" (click)="launchDashboard(8040)">
        <img src="../../assets/wallisellen.gif" alt="">
      </a>

      <a class="dübendorf" (click)="launchDashboard(8030)">
        <img src="../../assets/dübendorf.gif" alt="">
      </a>

      <a class="menzingen" (click)="launchDashboard(8050)">
        <img src="../../assets/menzingen.gif" alt="">
      </a>

      <a class="risch" (click)="launchDashboard(8060)">
        <img src="../../assets/risch.gif" alt="">
      </a>
    </div>

    <div class="">
      <a class="swisspost" (click)="launchDashboard(8080)">
        <img src="../../assets/post.jpg" alt="">
      </a>

      <a class="esp" (click)="launchDashboard(8070)">
        <img src="../../assets/esp.jpeg" alt="">
      </a>
    </div>
    <button mat-raised-button
            color="primary"
            matBadge="14">
          Action
    </button>

</div>
