<div class="content">
    <div class="">
      <a class="cd-img" (click)="launchIssuerDashboard()">
        <img src="../../assets/bund.gif" alt="">
      </a>
    </div>

    <div class="">
      <a class="buyer" (click)="launchDashboard(10021)">
        <img src="../../assets/zürich.gif" alt="">
      </a>

      <a class="buyer" (click)="launchDashboard(10021)">
        <img src="../../assets/ch-zg.gif" alt="">
      </a>
    </div>

    <div class="">
      <a class="cd-img" (click)="launchIssuerDashboard()">
        <img src="../../assets/wallisellen.gif" alt="">
      </a>

      <a class="buyer" (click)="launchDashboard(10021)">
        <img src="../../assets/dübendorf.gif" alt="">
      </a>

      <a class="cd-img" (click)="launchIssuerDashboard()">
        <img src="../../assets/menzingen.gif" alt="">
      </a>

      <a class="buyer" (click)="launchDashboard(10021)">
        <img src="../../assets/risch.gif" alt="">
      </a>
    </div>

    <div class="">
      <a class="swisspost" (click)="launchIssuerDashboard()">
        <img src="../../assets/post.jpg" alt="">
      </a>

      <a class="esp" (click)="launchIssuerDashboard()">
        <img src="../../assets/esp.jpeg" alt="">
      </a>
    </div>

</div>
